on:
  workflow_dispatch:

jobs:
  build:
    if: success() || failure()
    name: Build app for ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macOS-latest]
        include:
          - format: tgz
            os: macOS-latest
          - archive: tar -czf
            os: macOS-latest
          - format: tar.gz
            os: ubuntu-latest
          - archive: tar -czf
            os: ubuntu-latest
          - format: zip
            os: windows-latest
          - archive: tar.exe acf
            os: windows-latest

    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-python@v5
      with:
        python-version: 3.x

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        
    - name: Install pyinstaller
      run: |
        python -m pip install pyinstaller
        
    - name: Build app
      run: |
        python -c "import PyInstaller.__main__; PyInstaller.__main__.run(['main.spec'])"

    - name: Upload build
      uses: actions/upload-artifact@v4
      with:
        name: totp-pyqt6-${{ matrix.os }}
        path: dist/main/
