on:
  workflow_dispatch:

jobs:
  build:
    if: success() || failure()
    name: Build app for ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macOS-latest]
    permissions:
      contents: read

    steps:
    - uses: actions/checkout@v5
    - name: Get commit SHA
      shell: pwsh
      run: |
        "COMMIT_SHA=$(git rev-parse --short HEAD)" >> $env:GITHUB_ENV

    - name: Restore from cache
      uses: actions/cache/restore@v4
      id: restore
      with:
        path: dist
        key: ${{ matrix.os }}-${{ env.COMMIT_SHA }}
    
    - uses: actions/setup-python@v5
      if: steps.restore.outputs.cache-hit != 'true'
      with:
        python-version: 3.x

    - name: Install dependencies
      if: steps.cache.outputs.cache-hit != 'true'
      run: |
        python -m pip install -r requirements.txt
        
    - name: Install pyinstaller
      if: steps.restore.outputs.cache-hit != 'true'
      run: |
        python -m pip install pyinstaller
        
    - name: Build app
      if: steps.restore.outputs.cache-hit != 'true'
      run: |
        python -c "import PyInstaller.__main__; PyInstaller.__main__.run(['main.spec'])"

    - name: Save to cache
      if: steps.restore.outputs.cache-hit != 'true'
      uses: actions/cache/save@v4
      id: save
      with:
        path: dist
        key: ${{ matrix.os }}-${{ env.COMMIT_SHA }}

    - name: Upload build
      uses: actions/upload-artifact@v4
      with:
        name: totp-pyqt6-${{ matrix.os }}
        path: dist/main/
          
  release:
    name: Create Release
    runs-on: ubuntu-latest
    needs:
      - build
    permissions:
      contents: |
        read
        write

    steps:
    - uses: actions/checkout@v5
    - name: Get commit SHA
      run: |
        COMMIT_SHA=$(git rev-parse HEAD)
        echo "COMMIT_SHA=$COMMIT_SHA" >> $GITHUB_ENV
        
    - name: Download Executables
      uses: actions/download-artifact@v4
      with:
        path: artifacts
            
    - name: .zip windows
      run: |
        pushd "./artifacts"
        zip -r ./totp-pyqt6-windows-latest.zip ./totp-pyqt6-windows-latest/
        popd
    
    - name: .tar.gz linux
      run: |
        pushd "./artifacts"
        tar -czvf ./totp-pyqt6-ubuntu-latest.tar.gz -C ./totp-pyqt6-ubuntu-latest/ .
        popd
    
    - name: .tar.gz macOS
      run: |
        pushd "./artifacts"
        tar -czvf ./totp-pyqt6-macOS-latest.tar.gz -C ./totp-pyqt6-macOS-latest/ .
        popd
        
    - name: Release
      uses: softprops/action-gh-release@v1
      with:
        body: Automatic release.
        files: |
          artifacts/*.zip
          artifacts/*.tar.gz
        tag_name: ${{ env.COMMIT_SHA }}
